* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/Background-Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.main {
    width: 100%;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 400px;
    margin-left: -220px;
    margin-top: -5px;
    z-index: 999
;
}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: .5em;
    background-color: rgb(79,44,21);
    padding: 1em 0;
    margin-top: 5%;
}

ul li:nth-child(2){
    margin-right: 500px;
}

ul li:nth-child(3), ul li:last-of-type {
    transform: translateX(-70px);
}

ul li {
    transform: translateX(-33px);
}


ul li a {
    color: white;
    text-decoration: none;
    font-weight: 800;
    position: relative;
    transition: 1s;
    border: 1px solid white;    
    padding: .6em 1em;
    font-size: 2em;
    display: inline-block;
    width: 200px;
    text-align: center;
}




ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f6c05457;
    height: 100%;
    width: 100%;
    transform: scalex(0);
    transform-origin: left;
    transition: .2s;
}

ul li a:hover::after {
    transform: scalex(1);
    color: black;
}

.photo {
    width: 50%;
    margin: 20em auto;
    z-index: -1;
    text-align: center;
}

.hero{
    border: 10px solid black;
    width: 100%;
}


.carousel {
    width: 1000px;
    margin: 17em auto 10em;
}

.carousel-item {
    text-align: center;
}

.carousel-img {
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.carousel-control-next-icon{
    height: 5em;
    width: 5em;
}

.carousel-control-prev-icon{
    height: 5em;
    width: 5em;
}

.album {
    background-color: rgba(0, 0, 0, 0.292);
    width: 90%;
    margin: 0 auto 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    border-radius: 1em;
    padding: 1em;
}

.card {
    width: 400px;
    border: 1px solid white;
    border-radius: 1em;
    overflow: hidden;
}


@media (max-width:1250px) {
    .logo {
        display: none;
    }

    ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    ul li {
        margin: 0;
        padding: 0;
    }

    ul li a{
        margin: 0;
        padding: 0;
        display: inline-block;
        width:155px;
        text-align: center;
    }

    ul li:nth-child(2){
        margin-right: 0;
    }
    
    ul li:nth-child(3), ul li:last-of-type {
        transform: translateX(0);
    }
    
    ul li {
        transform: translateX(0);
    }
    

    .carousel {
        width: 80%;
        margin: 5em auto;
    }
    
    .carousel-item {
        text-align: center;
    }
    
    .carousel-img {
        width: 75%;
        height: auto;
        margin: 0 auto;
    }
    
    .photo{
        margin-top: 5em;
    }

    .album {
        justify-content: center;
    }
}
    
    
